.about_me {
    background-color: #F6F6F6;
}

.content_text {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.text_about_me {
    margin-bottom: 35px;
}

.text_about_me:last-child {
    margin-bottom: 65px;
}
 