.contacts {
    background-color: #F6F6F6;
}

.contacts_subtitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.contacts_button {
    display: flex;
    align-items: center;
}

.button-email {
    border-radius: 22px;
    background-color: black;
    color: #FFFFFF;
    height: 40px;
    width: 180px;
    margin: 0 auto;
    border: none;
}

.button-cleek {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 300px;
    margin: auto;
}

.connection {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    color: #828282;
    padding-top: 46px;
}

.element {
    display: flex;
}

a.element {
    filter: grayscale(100);
    transition: filter 0.3s;
}

a.element:hover {
    filter: none;
}

@media (max-width: 430px) {  
    .contacts_subtitle {
        padding-bottom: 39px;
    }
    
    .button-email {
        width: 316px;
    }
    
    .icons {
        max-width: 430px;
        padding-top: 48px;
        margin: 0;
    }
    
    .connection {
        font-size: 18px;
    }
}

@media (max-width: 950px) {
    .button-email {
        width: 316px;
    }

    .icons {
        max-width: 350px;
        width: 100%;
        margin: auto;
    }
}