.info {
    height: 680px;
}

.info_me {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.name {
    font-weight: bold;
    font-size: 47px;
    padding-top: 40px;
    transform: translateY(10px);
}

.description {
    padding-top: 94px;
}

.photo {
    width: 100%;
}

span {
    color: #828282;
}

a.element:hover {
    filter: none;
}

.intro_menu {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 1;
}

.menu_btn {
    padding: 4px 0;
    width: 33px;
    position: relative;
    z-index: 50;
}

.menu_item::before,
.menu_item::after {
    content: " ";
    height: 4px;
    width: 100%;
    background: #000000;
    position: absolute;
    left: 0;
    z-index: 1;
}

.menu_item span {
    display: block;
    background: #000000;
    height: 4px;
}

.menu_item::after {
    top: -4px;
}

.menu_item::before {
    bottom: -4px;
}

@media (max-width: 430px) {
    .intro_menu {
        display: initial;
        right: 30px;
    }
    
    .info {
        height: 913px;
    }

    .container {
        max-width: 430px;
        display: flex;
        flex-direction: column;
    }

    .info_me {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 65px;
    }

    .name {
        padding-top: 0;
    }

    .description {
        padding-top: 23px;
    }
}
