.info_me {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.name {
    font-weight: bold;
    font-size: 47px;
    padding-top: 40px;
    transform: translateY(10px);
}

.photo {
    margin-bottom: 45px;
}

a.element:hover {
    filter: none;
}

@media (max-width: 430px) {
    .info_me {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 45px;
    }

    .name {
        padding-top: 0;
    }

    .description {
        padding-top: 25px;
    }
}
