.portfolio {
    background-color: #F6F6F6;
    background: linear-gradient(180deg, rgba(18, 47, 100, 0.664) 0%, rgba(249, 202, 238, 0) 100%);
    background-size: 100% 0.00001%;
    background-repeat: no-repeat;
    transition: all 1s linear;
}

.portfolio:hover {
    background-size: 100% 100%;
    transition: all 1s linear;
}

.portfolio_title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 110px;
    padding-bottom: 47px;
}

.project_link {
    display: flex;
    justify-content: center;
    color: #000000;
    padding-top: 44px;
    padding-bottom: 99px;
}

.screenshot {
    width: 100%;
}

.screenshot:hover {
    transition: 3s;
    transform: scale(1.1);
}

@media (max-width: 430px) {
    .portfolio {
        height: 1218px;
    }
    
    .portfolio_title {
        padding-top: 81px;
        padding-bottom: 64px;
    }
    
    .screenshot {
        width: 100%;
    }
    
    .project_link {
        padding-top: 33px;
        padding-bottom: 78px;
    }
}

@media (max-width: 950px) {
    .screenshot {
        width: 100%;
    }
    
    .portfolio {
        background-color: #F6F6F6;
    }
}