.skills {
    height: 610px;
}

.skills_title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 91px;
    padding-bottom: 69px;
}

.skills_subtitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 111px;
    font-size: 14px;
    font-weight: bold;
    color: #828282;
}

.skill_name {
    padding-top: 21px;
}

.container_star {
    padding-top: 40px;
}

@keyframes moving {
    100% {transform: rotateY(360deg);}
}

.star {
    animation: moving 2s infinite;
}

@media (max-width: 430px) {
    .skills {
        height: 1421px;
    }
    
    .skills_title {
        padding-top: 83px;
        padding-bottom: 50px;
    }
    
    .skill-list {
        flex-direction: column;
        text-align: center;
        padding-top: 71px;
        padding-bottom: 98px;
        font-size: 14px;
    }
    
    .container_star {
        padding-bottom: 81px;
    }
}

@media (max-width: 950px) {
    .skills {
        height: 1521px;
    }
    
    .skill-list {
        flex-direction: column;
        text-align: center;
        padding-top: 71px;
        padding-bottom: 98px;
        font-size: 14px;
    }
    
    .container_star {
        padding-top: 40px;
        padding-bottom: 81px;
    }
}