h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

*,
*::before,
*::after {
    font-family: 'Gilroy';
    box-sizing: border-box;
}

body {
    color: #000000;
    font-size: 18px;
    margin: 0;
    border-color: #FFFFFF;
}

.header {
    font-weight: bold;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    background: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 973.61px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.menu {
    border-bottom: 1px solid #828282;
    padding-bottom: 32px;
    background-color: #FFFFFF;
}

.nav {
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav > li > a {
    text-decoration: none;
    color: #828282;
}

.info {
    height: 680px;
}

.info__me {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.name {
    font-weight: bold;
    font-size: 47px;
    padding-top: 40px;
    transform: translateY(10px);
}

.description {
    padding-top: 94px;
}

.language {
    font-size: 16px;
    font-weight: bold;
    transform: rotate(270deg) translateX(25px) translateY(26px);
}

span {
    color: #828282;
}

.about__me {
    background-color: #F6F6F6;
    height: 506px;
}

.content__title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 50px;
}

.content__text {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 218px;
}  

.skills {
    height: 610px;
}

.skills__title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 91px;
    padding-bottom: 69px;
}

.skills__subtitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 111px;
    font-size: 14px;
    font-weight: bold;
    color: #828282;
}

.skill__name {
    padding-top: 21px;
}

.container__star {
    padding-top: 40px;
}

.portfolio {
    background-color: #F6F6F6;
    height: 2253px;
}

.portfolio__title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 110px;
    padding-bottom: 47px;
}

.project__link {
    display: flex;
    justify-content: center;
    color: #000000;
    padding-top: 44px;
    padding-bottom: 99px;
}

.screenshot:hover {
    transition: 3s;
    transform: scale(1.1);
}

.contacts {
    height: 622px;
}

.contacts__title {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 114px;
    padding-bottom: 20px;
}

.contacts__subtitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 28px;
}

.contacts__button {
    display: flex;
    align-items: center;
}

.button-email {
    border-radius: 22px;
    background-color: black;
    color: #FFFFFF;
    height: 42px;
    width: 180px;

    margin: 0 auto;
}

.button-cleek {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 85px;
    width: 342px;
    margin: auto;
}

.connection {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    color: #828282;
    padding-top: 46px;
}

.element {
    display: flex;
}

a.element {
    filter: grayscale(100);
    transition: filter 0.3s;
}

a.element:hover {
    filter: none;
}
