h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
}

*,
*:before,
*:after {
    font-family: 'Gilroy';
    box-sizing: border-box;
}

body {
    color: #000000;
    font-size: 18px;
    margin: 0;
    border-color: #FFFFFF;
}